/* body */

body {
  padding: 0;
  margin: 0;
}

* {
  background-color: rgb(179, 121, 233);
  font-family: "Didact Gothic", sans-serif;
  font-size: 30px;
}

/* Flags */

.link {
  color: rgb(0, 0, 0);
  margin-right: 75px;
  font-size: 35px;
  font-family: "Righteous", cursive;
  background-color: rgb(117, 182, 74);
  list-style-type: none;
  text-decoration: none;
}

.link-div {
  display: flex;
  align-items: center;
  background-color: rgb(255, 241, 39);
  height: 90px;
}

.img-flag {
  height: 100px;
  display: flex;
  margin-top: 30px;
  margin-left: 25px;
  border: 5px solid;
  border-radius: 100px;
}

.list-flag {
  list-style-type: none;
  justify-content: center;
  border-bottom: 3px solid;
  border-top: 3px solid;
}

.nav-img {
  height: 80px;
  display: flex;
  margin-right: 115px;
  border: 3px solid;
  border-radius: 100px;
}
